body {
  background-color: gainsboro;
  /* Use a system font, if none are available use an available sans-sarif */
  font-family: system-ui, sans-serif;
  /* margin-left: 50px; */
  /*display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;*/
}


.board {
    display: flex;
    flex-wrap: wrap;
    width: 625px;
}


.emoji {
    width: 20%;
    aspect-ratio: 1/1;
    border: 3px solid black;
    font-size: 64px;
    text-align: center;
    /*background-color: #add8e6;*/
}
